<% provide(:title, "Log in") %>
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                        <%= form_for(:session, url: login_path) do |f| %>

                            <div class="form-label-group">
                                <%= f.email_field :email, class: 'form-control' %>
                                <%= f.label :email %>
                            </div>

                            <div class="form-label-group">
                                <%= f.password_field :password, class: 'form-control' %>
                                <%= f.label :password %>
                            </div>
                            
                            <%= f.label :remember_me, class: "checkbox inline" do %>
                                <%= f.check_box :remember_me %>
                                <span>Remember me on this computer</span>
                            <% end %>
                                <br>
                            <%= f.submit "Log in", class: "btn btn-primary mx-auto d-block" %>
                        <% end %>
                        <br>
                        <span>New User?</span> <span><%= link_to "Sign up now!", signup_path %></span>
                        <hr class="my-4">
                </div>
            </div>
        </div>
    </div>
