    <%= render 'shared/error3_messages' , object: f.object%>

    <div class="form-label-group">
        <%= f.text_field :word, class: 'form-control' %>
        <%= f.label :word %>
    </div>
    
    <%= f.fields_for :choices do |a| %>
        <div class="form-label-group">
            <div class = "row">
                <div class = "col-md-6">
                    <%= a.text_field :content, class: 'form-control' %>
                </div>
                <div class = "col-md-6 choice">
                   <h5>Choice<h5>
                   <%= a.check_box :correct, class:"choice_taken"%>
                   <%= a.label :correct %>
                </div>
            </div>
        </div>
<% end %>
<%= f.submit yield(:button_text), class: "btn btn-primary" , id: "sub_button"%>
