<%if current_user == post.user%>
    <div class="p-2">
        <%if current_user.picture? %>
            <%= image_tag(current_user.picture.url,  size:"50x50",class: "rounded-pill") %>
        <% else %>
            <%= image_tag("user.png",  size:"50x50",class: "rounded-pill") %>
        <% end %>
    </div>
    <div class="p-2">
        <h5><%= link_to "You", user_path(post.user) %></h5> learned <%= post.action.score %> of <%= post.action.answers.count %>
        in <%= link_to post.action.category.title, post.action, class: "badge badge-info"  %>
        <p><small><%= time_ago_in_words(post.created_at) %> ago</small></p>
    </div>
<%else%>
    <div class="p-2">
        <%if post.user.picture? %>
            <%= image_tag(post.user.picture.url,  size:"50x50",class: "rounded-pill") %>
        <% else %>
            <%= image_tag("user.png",  size:"50x50",class: "rounded-pill") %>
        <% end %>
    </div>
    <div class="p-2">
        <h5><%= link_to post.user.name, user_path(post.user) %></h5> learned <%= post.action.score %> of <%= post.action.answers.count %>
        in <%= link_to post.action.category.title, post.action, class: "badge badge-info"  %>
        <p><small><%= time_ago_in_words(post.created_at) %> ago</small></p>
    </div>
<%end%>  