<%= provide(:page_title, "Dashboard") %>
<br><br>
<div class = "row">
    <div class = "col-sm-4">

        <div class="card">
            <div class="card-body">
                <div class="text-center">
                        <%if current_user.picture? %>
                            <%= image_tag(current_user.picture.url,  size:"180x180",class: "rounded-pill") %>
                        <% else %>
                            <%= image_tag("user.png",  size:"180x180",class: "rounded-pill") %>
                        <% end %>

                    <h4><%= current_user.name %></h4>
                    <div><%= current_user.email %></div>

                    <div class="mt-3">
                        <%= link_to "View profile", user_path(current_user), class: "btn btn-sm btn-secondary text-white" %>
                        <%= link_to "Update profile", settings_path, class: "btn btn-sm btn-info text-white" %>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-body">
                <div class="text-center">
                    <div class="d-inline-block mr-2">
                        <h4><%= current_user.following.count %></h4> following
                    </div>
                    <div class="d-inline-block">
                        <h4><%= current_user.followers.count %></h4> followers
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-body">
                <div class = "text-center">
                    <h4><%= current_user.words.count%><%= link_to "words learned", words_path , class: 'btn btn-info btn-block p-3'%></h4>
                </div>
            </div>
        </div>
    </div>

    <div class = "col-md-8">
        <div class="card">
            <h5 class="card-header">Activity Feed</h5>
            <div class="card-body">
            <%if @posts.exists?%>
               <% @posts.each do |post|%>
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <% @user = post.user %>
                            <%if post.action.is_a?(Lesson)%>
                                <%= render partial: 'activities/lesson_activity', locals: { post: post } %>
                            <%else%>
                                <%= render partial: 'activities/relationship_activity', locals: { post: post } %>
                            <%end%>
                        </div>
                    </div>
                </div>
               <% end %>
               <div class="mx-auto" style="width: 400px;">
                    <%= will_paginate @posts%>
               </div>
            <%else%>
                <center><h5>No activity yet</h5></center>
            <%end%>
            </div>
            
        </div>
    </div>
</div>
