<%= provide(:page_title, @user.name) %>
<br><br>
<div class = "row">
    <div class = "col-sm-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                        <%if @user.picture? %>
                            <%= image_tag(@user.picture.url,  size:"100x100",class: "rounded-pill") %>
                        <% else %>
                            <%= image_tag("user.png",size:"100x100",class: "rounded-pill") %>
                        <% end %>

                    <h4><%= @user.name %></h4>
                    <div><%= @user.email %></div>
                </div>
            </div>
        </div>

        <div class="card mt-4">
            <% @user ||= current_user %>
            <div class="card-body">
                <div class="text-center">
                    <div class="d-inline-block mr-2">
                        <h4 id = "following"><%= @user.following.count %></h4> following
                    </div>
                    <div class="d-inline-block">
                        <h4 id = "followers"><%= @user.followers.count %></h4>  followers
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-body">
                <div class = "text-center">
                    <h4><%= @user.words.count%></h4>
                    words learned
                </div>
            </div>
        </div>
    </div>

    <div class = "col-md-8">
        <div class="card">
            <h5 class="card-header">Activity Feed</h5>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>