<%= provide(:page_title, "Dashboard") %>
<br><br>
<div class = "row">
    <div class = "col-sm-4">

        <div class="card">
            <div class="card-body">
                <div class="text-center">
                        <%if current_user.picture? %>
                            <%= image_tag(current_user.picture.url,  size:"180x180",class: "rounded-pill") %>
                        <% else %>
                            No picture to show
                        <% end %>

                    <h4><%= current_user.name %></h4>
                    <div><%= current_user.email %></div>

                    <div class="mt-3">
                        <%= link_to "View profile", user_path(current_user), class: "btn btn-sm btn-secondary text-white" %>
                        <%= link_to "Update profile", settings_path, class: "btn btn-sm btn-info text-white" %>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class = "col-md-8">
        <div class="card">
            <h5 class="card-header">
            <div class="d-flex">
                <div class="p-2">Words Learned</div>
                <div class="ml-auto p-2"><span class="font-weight-italic"><small><%= link_to "Back to dashboard", dashboard_path %></small></span></div>
            </div>
            </h5>
            <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Word</th>
                    <th scope="col">Your answer</th>
                    <th scope="col">Correct answer</th>
                </tr>
                </thead>
                <div class="row">
                    <div class = "col">
                        <%= form_tag words_path, method: :get do %>
                            <div class="form-inline">
                                <%= select_tag(
                                    :category,
                                    options_from_collection_for_select(current_user.categories, 'id', 'title', params[:category]),
                                    include_blank: "All learned",
                                    class: 'form-control', onchange: "this.form.submit();")
                                %>
                            </div>
                        <% end %>
                    </div>
                    
                    <div class= "col">
                        <%= will_paginate @answers %>
                    </div>
                </div>
            <tbody>
            
            <% @answers.each do |f|%>
                <tr>
                    <td><%= f.word.word %></td>
                    <%if f.choice.content == f.word.answer_right%>
                        <td><p class="text-success font-weight-bold"><%= f.choice.content%></p></td>
                        <td> </td>
                    <%else%>
                        <td><p class="text-danger font-weight-bold"><%= f.choice.content%></p></td>
                        <td><%= f.word.answer_right%></td>
                    <%end%>
                </tr>
            <%end%>
            </tbody>
          </table>
          <div class = "paginate text-center">
            <%= will_paginate @answers %>
          </div>
            </div>
        </div>
    </div>
</div>