<div class="col-lg-10 col-xl-9 mx-auto">
    <div class="card card-signin flex-row my-5">
        <div class="card-body">
            <h5 class="card-title text-center">Add category</h5>
            <%= form_for(@category, url: admin_categories_path) do |f| %>
                <%= render 'shared/error2_messages' , object: f.object%>

                <div class="form-label-group">
                    <%= f.text_field :title, class: 'form-control' %>
                    <%= f.label :title %>
                </div>

                <div class="form-label-group">
                    <%= f.text_field :description, class: 'form-control' %>
                    <%= f.label :description %>
                </div>
                <%= f.submit "Submit", class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>
</div>