<% provide(:title, 'User Category List') %>
<br><br>
<div class = "row">
    <div class = "col">
        <h3>Categories (<%= @categories.count%>)</h3>
    </div>

    <div class="d-flex flex-row">
        <div class="p-2"><%= link_to "All", categories_path, class: "btn btn-info btn-md" %></div>
        <div class="p-2"><%= link_to "Learned", categories_path(:learned => 1), class: "btn btn-info  btn-md" %></div>
        <div class="p-2"><%= link_to "Not learned", categories_path(:learned => 0), class: "btn btn-info btn-md" %></div>
    </div>
    
</div>
<br>
    <div class="row">
    <%if @categories.exists? %>
        <% @categories.each do |category| %>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= category.title%> | (<%= pluralize(category.words.count, "word")%>) </h5> 
                            <p class="card-text"><%= category.description%> </p>
                            <% if lesson_exist = current_user.lesson(category) %>
                                <%= link_to "Show results", lesson_exist, class: "btn btn-success btn-md" %>
                            <%else%>
                                <%= form_tag(current_user.lessons.build) do %>
                                    <%= hidden_field_tag :category_id, category.id %>
                                    <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
                                        Learn this 
                                    <% end %>
                                <% end %>
                            <% end %>
                    </div>
                </div>
                <br><br>
            </div>
        <%end%>
    <%else%>
    <div class = "text-center">
        <h5>No categories here</h5>                        
    </div>
    <%end%>
        <div class="mx-auto" style="width: 300px;">
            <%= will_paginate %>
        </div>
    </div>
    
       
  